---
layout: page
comments: false
sharing: false
footer: true
---
{% assign index = true %}

<div class="jumbotron">
	{% assign post = site.posts.first %}
	{% assign content = post.content %}
	{% include article.html %}
</div>

<div class="blog-index">
  {% for post in site.posts limit: site.recent_posts offset:1 %}
    {% assign content = post.content %}
    <article>
      {% include article.html %}
    </article>
  {% endfor %}

  <div class="pagination">
    {% if paginator.next_page %}
      <a class="prev" href="{{paginator.next_page_path}}">&larr; Older</a>
    {% endif %}

    <a href="/blog/archives">Blog Archives</a>

    {% if paginator.previous_page %}
      <a class="next" href="{{paginator.previous_page_path}}">Newer &rarr;</a>
    {% endif %}
  </div>

</div>