<!DOCTYPE html>
<html class="no-js"  lang="pt-br"  xml:lang="pt-br"  dir="ltr"  xmlns="http://www.w3.org/1999/xhtml"  
	  xmlns:og="http://ogp.me/ns#"  xmlns:fb="http://www.facebook.com/2008/fbml"
	  >
    <head>
		<meta charset="utf-8" />
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta name="description" content="" />
		<meta name="author" content="Carlos A. Gomes - carlos.algms@gmail.com" />
		<meta name="rating" content="general" />
		<title></title>
		<link rel="shortcut icon"	href="/favicon.ico"  type="image/x-icon" />
		<link rel="stylesheet"		href="" type="text/css" />
    </head>
    <body>

		<header id="header">
			Header
		</header>

		<div id="site-views" class="zoom">
			
			{{ content }}

		</div>

		<footer id="footer">
			Footer
		</footer>

		<script src="" type="text/javascript"></script>
		<div id="fb-root"></div>
	</body>
</html>