
$screen-mb : 480px;

@import "code-blocks";
//@import "navbar";
@import "sidebar";
@import "sidebar-right";

html {
  font-family: sans-serif;
  font-size: 18px;

  &.fonts-loaded {
    font-family: Raleway, sans-serif;
  }
}

body {
  padding-bottom: 20px;
  font-family: inherit;

  @media (max-width: $screen-mb) {
    & {
      font-size: 22px;
      font-weight: 100;
    }
  }
}

html, #navbar-main {
  min-width: 320px;
}

