
$screen-mb : 480px;

@import "code-blocks";
//@import "navbar";
@import "sidebar";
@import "sidebar-right";

/* Move down content because we have a fixed navbar that is this tall */
body {
  padding-bottom: 20px;
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;

  @media (max-width: $screen-mb) {
    & {
      font-size: 22px;
      font-weight: 100;
    }
  }
}

html, #navbar-main {
  min-width: 320px;
}

